.Features {
  padding-top: 100px;
  background-color: #f9f9fd;

  .container {
    max-width: 1000px;
    margin: auto;
    column-gap: 222px;

    .single-feature {
      width: 428px;
      padding-bottom: 65px;
      h2 {
        padding-top: 24px;
      }
      p {
        padding-top: 24px;
      }
    }
  }
}
