.Presentation {
  padding-bottom: 64px;
  background-color: #f9f9fd;

  .container {
    max-width: 824px;

    h2 {
      margin-top: 96px;
    }

    p {
      margin-top: 24px;
      text-align: center;
    }

    img {
      margin-top: 32px;
      max-width: 824px;
    }
  }
}
