.Usage {
  padding-top: 64px;
  background-color: #f9f9fd;

  .container {
    max-width: 824px;
    margin: auto;
    background-image: url('./../../assets/svg/qovery-usage-bg.svg');
    background-repeat: no-repeat;
  }

  p {
    margin-top: 17px;
    text-align: center;
  }
  .CodeSnippet {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 100px;
    padding: 74px 24px 24px 24px;
    box-shadow: 0 2px 8px -8px black;
    border-radius: 2px;
  }

  .social-links {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
    }
  }
}
